# MooseFS Chunkserver – test cluster config
WORKING_USER = mfs
WORKING_GROUP = mfs
SYSLOG_IDENT = mfschunkserver
LOCK_MEMORY = 0
DATA_PATH = /var/lib/mfs
MASTER_HOST = mfsmaster
MASTER_PORT = 9420
CSSERV_LISTEN_PORT = 9422
HDD_CONF_FILENAME = /etc/mfs/mfshdd.cfg
# Low space thresholds for test env
HDD_LEAVE_SPACE_DEFAULT = 1G
