# MooseFS Metalogger – test cluster config
WORKING_USER = mfs
WORKING_GROUP = mfs
SYSLOG_IDENT = mfsmetalogger
LOCK_MEMORY = 0
DATA_PATH = /var/lib/mfs
MASTER_HOST = mfsmaster
MASTER_PORT = 9419
META_DOWNLOAD_FREQ = 1
