[Unit]
Description=MooseFS Metalogger server
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=forking
ExecStart=/usr/local/sbin/mfsmetalogger start
ExecStop=/usr/local/sbin/mfsmetalogger stop
ExecReload=/usr/local/sbin/mfsmetalogger reload
PIDFile=/usr/local/var/mfs/.mfsmetalogger.lock
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
