[Unit]
Description=MooseFS Master server
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=forking
ExecStart=/usr/local/sbin/mfsmaster start
ExecStop=/usr/local/sbin/mfsmaster stop
ExecReload=/usr/local/sbin/mfsmaster reload
PIDFile=/usr/local/var/mfs/.mfsmaster.lock
TimeoutStopSec=1800
TimeoutStartSec=1800
Restart=no

[Install]
WantedBy=multi-user.target
