[Unit]
Description=MooseFS Master server
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=forking
ExecStart=/usr/local/sbin/mfsmaster -c /usr/local/etc/mfs-%I/mfsmaster.cfg start
ExecStop=/usr/local/sbin/mfsmaster -c /usr/local/etc/mfs-%I/mfsmaster.cfg stop
ExecReload=/usr/local/sbin/mfsmaster -c /usr/local/etc/mfs-%I/mfsmaster.cfg reload
PIDFile=/usr/local/var/mfs-%I/.mfsmaster.lock
TimeoutStopSec=1800
TimeoutStartSec=1800
Restart=no

[Install]
WantedBy=multi-user.target
